TELEGRAM_BOT_TOKEN=8675062051:AAHqAR1GLUi9cRVSDoFWuNrGtOkU6mS71L8
ADMIN_CHAT_ID=@play1990
JAMSOSTEK_API_URL=https://api.jamsostek.go.id
WHATSAPP_TOKEN = "YOUR_WHATSAPP_ACCESS_TOKEN"          # Dari Meta
WHATSAPP_PHONE_ID = "YOUR_PHONE_NUMBER_ID"             # Dari Meta
WHATSAPP_ADMIN_NUMBER = "628xxxxxxxxxx"                # Nomor admin WhatsApp
