TELEGRAM_BOT_TOKEN=8675062051:AAHqAR1GLUi9cRVSDoFWuNrGtOkU6mS71L8
ADMIN_CHAT_ID=@play1990
JAMSOSTEK_API_URL=https://api.jamsostek.go.id
WHATSAPP_TOKEN = "JCXAf-vzhaSiyd0SQvfKlzd6AjU"          # Dari Meta
WHATSAPP_PHONE_ID = "1556975352706684"             # Dari Meta
WHATSAPP_ADMIN_NUMBER = "62895423349883"
